openapi: 3.1.0
info:
  title: Google BigQuery Datasets Projects API
  description: The BigQuery API provides programmatic access to Google BigQuery for creating, managing, and querying datasets, tables, jobs, models, and routines. It enables developers to run SQL queries over petabytes of data, load and export data, manage access control, and orchestrate analytics workloads using serverless infrastructure.
  version: '2'
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/bigquery/docs/support
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://bigquery.googleapis.com/bigquery/v2
  description: Production Server
security:
- oauth2: []
tags:
- name: Projects
  description: Operations for listing projects and service accounts
paths:
  /projects:
    get:
      operationId: listProjects
      summary: Google BigQuery List projects
      description: Lists all projects to which the user has been granted any project role.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/maxResults'
      - $ref: '#/components/parameters/pageToken'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    ProjectList:
      type: object
      properties:
        kind:
          type: string
          description: The resource type
        projects:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The project ID
              friendlyName:
                type: string
                description: A descriptive name for the project
              projectReference:
                type: object
                properties:
                  projectId:
                    type: string
                    description: The ID of the project
          description: Projects to which the user has at least READ access
        nextPageToken:
          type: string
          description: A token to request the next page of results
        totalItems:
          type: integer
          description: The total number of projects
  parameters:
    maxResults:
      name: maxResults
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        format: int32
    pageToken:
      name: pageToken
      in: query
      description: Page token for pagination
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/bigquery: Full access to BigQuery
            https://www.googleapis.com/auth/bigquery.readonly: Read-only access to BigQuery
externalDocs:
  description: BigQuery API Documentation
  url: https://cloud.google.com/bigquery/docs/reference/rest
